<div class="ticker-row border-top col-sm-6 col-lg-12 left">
  <div>
    <h4>{{ stock.company_name }}</h4>
    <h4>
      {% if stock.website %}
        <a href="{{ stock.website }}">
          <span class="symbol">{{ stock.symbol }}</span>
        </a>
      {% else %}
        <span class="symbol">{{ stock.symbol }}</span>
      {% endif %}
    </h4>
    <aside class="price-quote-container">
      <h4 class="current-price">${{ stock.current_price }}</h4>
      <h4
        class="price-change-amount {% if stock.change > 0 %} price-pos {% else %} price-neg {% endif %}"
      >
        ${{ stock.change }}
      </h4>
      <h4
        class="price-change-percent {% if stock.change > 0 %} price-pos {% else %} price-neg {% endif %}"
      >
        ({{ stock.percent_change | floatformat:3 }}%)
      </h4>
    </aside>
  </div>
</div>