:root {
  --primary: #804199;
}

#main{
  padding-top: 114px;
  padding-bottom: 6rem;
}

#mainnav .navbar {
 max-height: 700px;
 padding: 0 1rem;
}

.navbar-brand img {
  height: 40px;
  padding: 0 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #161616;
}

.article-body .image img{
  width: 100%;
}

.card.article-card {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.article-card-img {
  height: 100%;
  opacity: 0.4;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card.article-card:hover .article-card-img {
  transform: scale(1.1);
}

.price-pos {
  color: #81d404;
}
.price-neg {
  color: #da1e1e;
}

@media (min-width: 992px) {
  #main{
    padding-top: 124px;
    padding-bottom: 6rem;
  }