:root {
  --primary: #804199;
}

#main{
  padding-top: 114px;
  padding-bottom: 6rem;
}

#mainnav .navbar {
 max-height: 700px;
 padding: 0 1rem;
}

.navbar-brand img {
  height: 40px;
  padding: 0 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #161616;
}

.article-body .image img{
  width: 100%;
}

.card.article-card {
  overflow: hidden;
  color: #161616;
  padding-left: 0;
  padding-right: 0;
}

.card.article-card:hover {
  color: #161616;
  text-decoration: none;
}

.card-img-top.article-card-img {
  width: 100%;
  object-fit: cover;
  transition: transform .25s ease-in;
}

.card-img-top.article-card-img:hover {
  transform: scale(1.1);
}

.card-body.article-card-body {
  height: auto;
}

.price-pos {
  color: #81d404;
}
.price-neg {
  color: #da1e1e;
}

@media (min-width: 992px) {
  #main{
    padding-top: 124px;
    padding-bottom: 6rem;
  }