{% extends 'base.html' %}

{% block title %}
  {{ article.headline }}
{% endblock %}

{% block content %}
<div class="container article-content-inner">
  <div class="row">
    <div class="col-sm-12">
      <div class="article-header">
        <header>
          <div id="adv_text" class="adv-heading"></div>
          <h2>{{ article.headline }}</h2>
          <h5>{{ article.promo }}</h5>
        </header>
      </div>
    </div>
  </div>
  <div class="row">
    <main class="col-lg-8">
      <div class="author-tagline author-inline">
        <div class="author-and-date">
          <div class="author-byline">
            <div class="author-name">{{ article.byline }}</div>
          </div>
          <div class="article-pub-date">
            <div class="publication-date">{{ article.created | date }}</div>
          </div>
        </div>
      </div>
      <section class="article-body">
        <div class="article-content">{{ article.body | safe }}</div>
        <hr />
        <div class="article-disclosure">{{ article.disclosure | safe }}</div>
      </section>
    </main>
    <aside class="col-lg-4 p-l">
      {% include 'stocks/stock_list.html' %}
      {% include 'article_detail/read_more.html' %}
    </aside>
  </div>
  <hr />
  {% include 'comments/comments_section.html' %}
</div>
{% endblock %}
