{% for article in article_list %}
<a class="card col-md-6 bg-dark border-0 text-white article-card" href="{% url 'public:article_detail' article.slug  %}">
    <img class="card-img article-card-img" src="{{ article.images.0.url }}" alt="{{ article.images.0.name }}">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
        <h4 class="card-title">{{ article.headline }}</h4>
        <small class="card-text">{{ article.byline }} | {{ article.created | date }}</small>
    </div>
</a>
{% endfor %}