{% load crispy_forms_tags %}
<div class="mb-3">
  <h3>Comments</h3>
</div>
<div class="comments" id="comments-section">
  {% for comment in comments %} {% include 'comment.html' %} {% endfor %}
</div>
<h3>Leave us a comment!</h3>
<form method="post" id="comment-form">
  {% csrf_token %} {{ comment_form | crispy}}
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).on('submit', '#comment-form', function (e) {
    e.preventDefault();

    $.ajax({
      type: 'POST',
      url: '{% url "public:article_detail" article.slug %}',
      data: {
        body: $('#id_body').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (el) {
        document.getElementById('comment-form').reset();
        $('#comments-section').prepend(el);
      },
      error: function (xhr, errmsg, err) {
        console.log(errmsg);
      },
    });
  });
</script>
{% endblock javascript %}
