{% if featured_article %}
<a
  class="card col-12 bg-dark text-white border-0 shadow-sm shadow-black article-card"
  href="{% url 'public:article_detail' featured_article.slug  %}"
>
  <img
    class="card-img article-card-img"
    src="{{ featured_article.images.0.url }}"
    alt="{{ featured_article.images.0.name }}"
  />
  <div class="card-img-overlay d-flex flex-column justify-content-end">
    <h2 class="card-title">{{ featured_article.headline }}</h2>
    <p class="card-text">
      {{ featured_article.byline }} | {{ featured_article.created | date }}
    </p>
    <hr />
    <p class="card-text">
      {{ featured_article.body | truncatewords_html:50 | striptags }}
    </p>
  </div>
</a>
{% endif %}
